#bkground {
    background-position: right;
    background-position-x: 80%;
}
.list-body {
    width: 85%;
    margin: 2.5% auto;
}
.title {
    margin: 0 auto;
}
.title h1 {
    font-size: 4em;
}
.title p {
    font-size: 4em;
}
.entryfield {
    margin-top: 1.75%
}
#textbox {
    width: 75%;
    font-size: smaller;
}
.entry-btn {
    font-size: 20px;
}
.container1 {
    margin-top: 7%;
}
.buy-header, .bought-header {
    font-size: 2.3em;
}
.to-buy-container, .were-bought-container {
    width: 85%;
}
#list, #bought {
    height: 77%;
    width: 85%;
}
#list li, #bought li {
    font-size: 1.4em;
}
.items, li {
    margin-top: 0.4em;
}
.basket, .trash, .check {
    height: 20px;
    width: 20px;
}
.trash {
    margin-top: 0.5%;
}
.clear-area {
    margin-top: 2%;
}
.clear-btn {
    font-size: 26px;
}
